* {
    padding: 0;
    margin: 0
}

body {
    background-color: #ccc;
    font-family: 'Redressed', cursive;
    text-align: justify;
}

header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: ;
}

#logo {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    background-color: #124a75;
    display: flex;
   justify-content: center;
   align-items: center;
}

#logo img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

#nav {
    height: 60px;
    width: 90%;
    background-color: #124a75;
    align-self: center;
    position: relative;
    margin: 0 0 0 -5px;
    text-align: ;
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end;
}


nav li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
    align-content: ;
}

nav a:hover {
    background-color: #fff;
    color: #124a75;
}

nav a {
    color: #fff;
    text-decoration: none;
}

#banner {
    height: 400px;
    width: 100%;
    background-color: #124a75;
    display: flex;
    justify-content:stretch;
    align-items: center;
    position: ;
    
}

#text {
    width: 90%;
    margin: 0 auto;
    
    
}

h1,  h2 {
    color: #fff;
    font-size: 2em;
}

h1 {
    font-size: 4em;
}

#skillset {
    width: 250px;
    height: 250px;
    background-color:#ccc;
    border-radius: 50%;
    margin: -110px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    position: ;
    border-bottom: 3px solid #124a75;
    color: #124a75;
    
}

#skillset img {
    height: 30%;
    width: 30%;
}

#skills {
    width: 90%;
    min-height: 300px;
    
    margin: 10px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#skills div {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills div img {
    width: 70%;
    height: 50%;
}

#skills div h3 {
    font-size: 1.6rem;
    margin-top: 15px;
    font-weight: bold;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 350px;
    background-color: #124a75;
    margin: 10px 0 0 0;
    padding: 40px 0 20px;
    
}

.testimonial {
    min-height: 500px;
    padding: 10px 0 10px 0;
    
    background-color:#124a75;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    
}

#abttext {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#desc {
    width: 45%;
}

#contact img {
    width: 30px;
    background-color: ;
    margin: 3px;
    border-radius: 10px;
}

#about p {
    width: 100%;
    color: #fff;
    font-size: 1rem;
    margin: 15px 0;
}

#image {
    width: 50%;
    
}

#image img {
    height: 95%;
    width: 100%;
   
}

hr {
    color:;
    border: 3px solid #fff;
    width: 100%;
}

.projects {
    margin-top: 20px;
}

.projects h2 {
    font-size: 2em;
    text-align: center;
    color: #000;
    font-weight: bold;
}

#projects {
    min-height: 350px;
    width: 100%;
    margin: 0 auto;
    background-color: ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#project {
    height: 300px;
    width: 350px;
    background-color: #ddd;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px rgb(71, 70, 70), -7px -7px 10px rgb(139, 139, 139);
    margin: 10px;
    border-radius: 15px;
}

#project img {
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0 0;
}

footer {
    height: 100px;
    width: 100%;
    margin-top: 50px;
    background-color: #124a75;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#testimonial {
    width: 400px;
    height: 400px;
    background-color: #124a75;
    box-shadow: 7px 7px 10px #072d4b, -7px -7px 10px #0a2a42;
    border-radius: 40% 30px 50% 30px;
    padding: 10px;
    color: #ddd;
    font-size: 1.3rem;
    text-align: ;
    display: flex;
    flex-direction: column;
    position: relative;
    
} 

#testimonial p{
    font-size: 1.5rem;
    text-align: ;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color:#072d4b;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}


.prev {
    position: absolute;
    left: 0;
    border-radius: 0 50% 50% 0;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 50% 0 25% 50%;
}

#testimonial img.quote {
    height: 100px;
    float: right;
    margin: 0 10px 0 10px;
    opacity: 0.6;
}

.quotedetails {
    height: 20%;
    width: 80%;
    justify-self: flex-end;
    margin:;
    background-color: #124a75;
    box-shadow: 7px 7px 10px #072d4b, -7px -7px 10px #0a2a42;
    border-radius: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.quotedetails img {
    float: left;
    border-radius: 20px;
    height: 100%;
    width: 80px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:;
}

.contact {
    height: 50px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

#reach {
    width: 65%;
    height: 350px;
    display: flex;
    background-color: #ccc;
    box-shadow: 7px 7px 10px rgb(48, 46, 46), -7px -7px 10px rgb(121, 120, 120);
    
}

#left {
    width: 60%;
    background-color:;
    height: 100%;
    float:;
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
}

#right {
    width: 40%;
    background-color: #000;
    text-align: center;
    height: 100%;
    float:;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#right button {
    width: 120px;
    height: 60px;
    background-color: rgb(42, 175, 42);
    outline: none;
    border-radius: 30px;
    border: none;
    color: white;
}

#socials {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

form input {
    width: 100%;
    height: 35px;
    margin: 6px;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    font-weight: bold;
    background: transparent;
}

form textarea {
    width: 100%;
    height: 150px;
    border: 2px solid #000;
    background: transparent;
}

form input[type="submit"] {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}

button.collapse {
    height: 50px;
    width: 50px;
    background-color: #000;
}

.opennav, .closenav {
    display: none;
}

.details {
    padding: .1rem;
}

a.projectss {
    text-decoration: none;
    color:#000;
}

.text {
    justify-self: center;
    align-self: center;
    padding: 10px;
    width:80%;
    height: 60%;
    padding: 10px;
}

p.textt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    
}

.quoteimg {
    height: 20%;
    width: 100%;
    justify-self: start;
}