* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(140, 210, 255);
    padding: ;
    text-align: justify;
}

header {
    margin: 0;
}

nav {
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    background-color:;
    font-size: 1.4em; 
    font-weight: bold;
    
    
}

nav h2 {
    
}

nav ul {
    
}

nav ul li {
    list-style: none;
    display: inline;
    margin: .2em
}

.hero {
    background: rgb(22, 158, 199);
    padding: 4em;
    color: white;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: .7em;
}

.hero p { 
    font-size: 1.4em;
    line-height: 1.7em;
    margin-bottom: 1.5em;
}

.hero-btn {
    background: rgb(44, 80, 146);
    padding: 1em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.services {
    padding: 3em;
    display: flex;
    flex-wrap: ;
    justify-content: space-evenly;
    color: white;
}

.service h2 {
    margin-bottom: 1em;
}

span.avatar {
    height: 200px;
    width: 200px;
    background-color: grey;
    border-radius: 50%;
    padding: em;
}

.service {
    background-color: rgb(22, 158, 199);
    padding: 2em;
    margin: 1em;
    text-align: center;
    font-size: 1.2em;
}

.service p {
    line-height: 1.5em;
}

.grid {
    background: rgb(15, 125, 158);
    padding: 4em;
    display: grid;
    grid-template-columns: 20em 35em 20em;
    grid-row-gap: 1em;
    grid-template-rows: 25em 25em;
    justify-content: space-between;
}

.grid-items {
    background: rgb(140, 210, 255);
    margin: ;
    padding: 1em;
    font-size: 1.2em;
}

.diff {
    grid-column: 2/ span 1 ;
    grid-row: 1/ span 2;
    background-color: ;
}

p.date {
    color: rgba(82, 75, 75, 0.986);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}

p.content {
    margin: .5em 0;
}

p.author {
    font-size: 1em;
    color: rgb(49, 46, 46, .7);
}

.grid-items img {
    width: 100%;
    height: 50%;
    margin-bottom: .2em;
}

.article {
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

.article h2 {
    margin-bottom: .2em;
    line-height: 1.4em;
}

.article p {
     padding: ;
}

.article img {
    border-radius: 50%;
    width: 25%;
    float: left;
    margin: .5em;
}